<div class="container">
    <div class="row">
      <div class="col-4">
            <img  class="produtos" src="assets/imagens/porta01.png">
            <h5 class="nomeproduto">Produto</h5>
            <div class= "row preco">
                  <div class="col-6">
                        <p>R$00,00</p>      
                  </div>
                  <div class="col-6">
                        <p class="comprar">Comprar</p>      
                  </div>
            </div>
      </div>
      <div class="col-4">
            <img  class= "produtos" src="assets/imagens/porta02.png">
            <h5 class="nomeproduto">Produto</h5>
            <div class= "row preco">
                  <div class="col-6">
                        <p>R$00,00</p>      
                  </div>
                  <div class="col-6">
                        <p class="comprar">Comprar</p>      
                  </div>
            </div>
      </div>
      <div class="col-4">
            <img  class= "produtos" src="assets/imagens/porta03.png">
            <h5 class="nomeproduto">Produto</h5>
            <div class= "row preco">
                  <div class="col-6">
                        <p>R$00,00</p>      
                  </div>
                  <div class="col-6">
                        <p class="comprar">Comprar</p>      
                  </div>
            </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-4">
              <img  class="produtos" src="assets/imagens/porta01.png">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/porta02.png">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/porta03.png">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
              <img  class="produtos" src="assets/imagens/porta01.png">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/porta02.png">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/porta03.png">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
      </div>
    </div>