<div class="container">
      <div class="row">
        <div class="col-4">
              <img  class="produtos" src="assets/imagens/ferramenta01.jpg">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/ferramenta02.JPG">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/ferramenta03.jpg">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
              <img  class="produtos" src="assets/imagens/ferramenta01.jpg">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/ferramenta02.JPG">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/ferramenta03.jpg">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
              <img  class="produtos" src="assets/imagens/ferramenta01.jpg">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/ferramenta02.JPG">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
        <div class="col-4">
              <img  class= "produtos" src="assets/imagens/ferramenta03.jpg">
              <h5 class="nomeproduto">Produto</h5>
              <div class= "row preco">
                    <div class="col-6">
                          <p>R$00,00</p>      
                    </div>
                    <div class="col-6">
                          <p class="comprar">Comprar</p>      
                    </div>
              </div>
        </div>
      </div>
    </div>