
      <h1 class=" bemvindo">Bem Vindo ao nosso site</h1>
      <h4 class=" bemvindo">Aqui você encontra de tudo para</h4>
<div class="row align-items-center">
		<div class="col-4">
            <a [routerLink]="['jardinagem']" ><img  class="logo" src="https://www.casadopicapau.com.br/Assets/Banner/27/cpp_banners_site_200502.jpg"></a>
        
        </div>
        <div class="col-4">
               <a [routerLink]="['maquina']" ><img class="logo" src="https://www.casadopicapau.com.br/Assets/Banner/27/cpp_banners_site_200503.jpg"></a>
            </div>
            <div class="col-4">
                    <a [routerLink]="['construcao']"><img class="logo" src="/assets/imagens/Construcao.jpg"></a>
                </div>
</div>
